//Backgrounds:
$bgDark: #0D0D0D;
$bgBlue: radial-gradient(#031059 13%, #020B40 33%, #020426 71%);
$bgBlue--n: #00010a;
$bgBttn: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);


//Text:

$textWhite: #E6E6E6;